/*===== ANIMATION NAV LINKS AU SCROLL =====*/
.nav-link.active {
    color: var(--color-primary);
    border-bottom: 3px solid var(--color-primary);
}

/*===== ANIMATION DES SECTIONS =====*/
.fade-in {
    opacity: 0;
    transform: translateY(3rem);
    transition: all 0.6s ease-out;
    will-change: transform, opacity;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}